<h1>This is an admin page. Customers please return to the store!</h1>
<div class="flex_row">
	<div>
		<h3>Our games</h3>

		<input type="search" placeholder="search items" data-ng-model="search" />
		<input type="button" value="{{addOrEditGame}}" data-ng-click="showAddForm()" />
		<input type="button" value="{{addOrEditCategory}}" data-ng-click="showCategoryForm()" />

		<table>
			<tr>
				<td>Art Number</td>
				<td>Name</td>
				<td>Price</td>
				<td>Balance</td>
			</tr>
			<tr data-ng-repeat="game in items | filter:search" class="table_row">
				<td data-ng-click="viewDescription(game.artNr)">
						{{game.artNr}}</td>
				<td data-ng-click="viewDescription(game.artNr)">
						{{game.itemName}}</td>
				<td data-ng-click="viewDescription(game.artNr)">
						{{game.price}}</td>
				<td data-ng-click="viewDescription(game.artNr)">
						{{game.stockBalance}}</td>
				<td>
				<input type="number" data-ng-model="count" min="0" />
				</td>
  				<td><input type="button"
					data-ng-click="addToInventory(game.artNr, count)" value="Add to inventory" /></td>
				<td><input type="button"
					data-ng-click="removeFromInventory(game.artNr, count, game.stockBalance)" value="Remove from inventory" /></td>
			</tr>
		</table>
	</div>
	
	<div data-ng-show="showEditPage">
	<h2>Edit game page</h2>
		<form action="EditItem" method="POST" enctype="multipart/form-data">
			<br>
			<label>Article number: </label><input type="text" name="newArtNr" value="{{selectedItem.artNr}}" placeholder="Article number"/>
			<br>
			<label>Game: </label><input type="text" name="itemName" value="{{selectedItem.itemName}}" placeholder="Name of the game"/>
			<br> 
			<label>Image: </label><input type="file" name="image" /> 
			<img src="GetImage?artNr={{selectedItem.artNr}}" height=100px
				width=80px />
			<br> 
			<label>Description: </label><textarea name="description" cols="40" rows="5">{{selectedItem.description}}</textarea> 
			<br>
			<br>
			<label>Price: </label><input type="number" name="price" value="{{selectedItem.price}}" placeholder="Price"/> SEK
			<br>
			<label>Format: </label><input type="text" name="storageFormat" value="{{selectedItem.storageFormat}}" placeholder="Format of the game"/>
			<br>
			<label>Category: </label><select name="category" >
				<option selected>{{selectedItem.category}}</option>
  				<option data-ng-repeat="c in categories" data-ng-show="selectedItem.category != c.categoryName">
  				{{c.categoryName}}</option>
			</select>
			<br>
			<input type="hidden" name="currentArtNr" value="{{selectedItem.artNr}}" />
			<input type="hidden" name="stockBalance" value="{{selectedItem.stockBalance}}" />
			<input type="submit" value="Edit game" />
		</form>
		<br>
		<input type="button" value="Delete game" data-ng-click="deleteFromInventory(selectedItem.artNr)"/>
	</div>
	
	<div data-ng-show="showAddPage">
		<h2>Add game page</h2>
		<form action="AddToInventory" method="POST" enctype="multipart/form-data">
			<br>
			<label>Article number: </label><input type="text" name="artNr" placeholder="Article number"/>
			<br>
			<label>Game: </label><input type="text" name="itemName" placeholder="Name of the game" />
			<br> 
			<label>Image: </label><input type="file" name="image" /> 
			<br> 
			<label>Description: </label><textarea name="description" cols="40" rows="5"></textarea> 
			<br>
			<br>
			<label>Price: </label><input type="number" name="price" placeholder="Price"/> SEK
			<br>
			<label>Format: </label><input type="text" name="storageFormat" placeholder="Format of the game" />
			<br>
			<label>Category: </label><select name="category" >
				<option data-ng-repeat="c in categories" >{{c.categoryName}}</option>
			</select>
			<br>
			<label>Copies: </label><input type="number" name="stockBalance" placeholder="Number of copies" />
			<br>
			<input type="submit" value="Add game" />
		</form>
	</div>
	
	<div data-ng-show="showAddCategoryPage">
		<h2>Add category page</h2>
		<br>
		<label>Category name: </label><input type="text" data-ng-model="category" placeholder="Category name" />
		<br>
		<br>
		<label>Description: </label><textarea data-ng-model="contents" cols="40" rows="5"></textarea>
		<br>
		<input type="button" value="Add category" data-ng-click="addCategory(category, contents)"/>
	</div>
	
	<div data-ng-show="showEditCategoryPage">
		<h2>Edit category page</h2>
		<br>
		<label>Category: </label><select data-ng-change="selectCategory(c.categoryName)"
			data-ng-options="c.categoryName for c in categories" data-ng-model="c.categoryName">
		</select>
		<br><br>
		<label>Category name: </label><input type="text" data-ng-model="selectedCategory.categoryName" placeholder="Category name" />
		<br>
		<br>
		<label>Description: </label><textarea data-ng-model="selectedCategory.contents" cols="40" rows="5"></textarea>
		<br>
		<input type="button" value="Edit category"
			data-ng-click="editCategory(selectedCategory.categoryName, selectedCategory.contents, oldCategoryName)" />
	</div>
</div>