<h1>This is an admin page. Customers please return to the store!</h1>
<div class="flex_row">
	<div>
		<h3>Our games</h3>

		<input type="search" placeholder="search items" data-ng-model="search" />

		<table>
			<tr>
				<td>Art Number</td>
				<td>Name</td>
				<td>Price</td>
				<td>Balance</td>
			</tr>
			<tr data-ng-repeat="game in items | filter:search" class="table_row">
				<td data-ng-click="viewDescription($index)">
						{{game.artNr}}</td>
				<td data-ng-click="viewDescription($index)">
						{{game.itemName}}</td>
				<td data-ng-click="viewDescription($index)">
						{{game.price}}</td>
				<td data-ng-click="viewDescription($index)">
						{{game.stockBalance}}</td>
				<td>
				<input type="number" data-ng-model="count" />
				</td>
  				<td><input type="button"
					data-ng-click="addToInventory(game.artNr, count)" value="AddToInventory" /></td>
				<td><input type="button"
					data-ng-click="deleteFromInventory(game.artNr, count)" value="Delete" /></td>
			</tr>
		</table>
	</div>
	<div>
		<form action="AddToInventory" method="POST" enctype="multipart/form-data">
			<br>
			<input type="text" name="artNr" value="{{selectedItem.artNr}}" />
			<br>
			<input type="text" name="itemName" value="{{selectedItem.itemName}}" />
			<br> 
			<input type="file" name="image" /> 
			<br> 
			<textarea name="description" cols="40" rows="5">{{selectedItem.description}}</textarea> 
			<br>
			<br>
			<input type="number" name="price" value="{{selectedItem.price}}" /> SEK
			<br>
			<input type="text" name="storageFormat" value="{{selectedItem.storageFormat}}" />
			<br>
			<select name="category" >
				<option selected>{{selectedItem.category}}</option>
  				<option data-ng-repeat="c in categories" data-ng-show="selectedItem.category != c.categoryName">
  				{{c.categoryName}}</option>
			</select>
			<br>
			<input type="submit" value="Edit item" />
		</form>
		<input type="button" value="Delete item" />
	</div>
</div>