<div class="flex_row">
	<div>
		<h3>These are our games</h3>

		<input type="search" placeholder="search items" ng-model="search" />

		<table>
			<tr>
				<td>Art Number</td>
				<td>Name</td>
				<td>Price</td>
				<td>In Stock</td>
			</tr>
			<tr ng-repeat="game in items | filter:search" class="table_row">
				<td ng-click="viewDescription($index)"><a"#!/item/{{game.artNr}}">
						{{game.artNr}}</a></td>
				<td ng-click="viewDescription($index)"><a"#!/item/{{game.itemName}}">
						{{game.itemName}}</a></td>
				<td ng-click="viewDescription($index)"><a"#!/item/{{game.price}}">
						{{game.price}}</a></td>
				<td ng-click="viewDescription($index)">
<!-- 				<a"#!/item/{{game.stockBalance}}"> -->
<!-- 						{{game.stockBalance}}</a></td> -->
				
				<div ng-show="game.stockBalance === 0">No</div>
				<div ng-show="game.stockBalance > 3">Yes</div>
				<div ng-show="!(game.stockBalance === 0 || game.stockBalance > 3)">{{game.stockBalance}}</div>				
				
<!-- 				<div ng-switch="game.stockBalance"> -->
<!-- 				<div ng-switch-when="0">No</div> -->
<!-- 				<div ng-switch-when="0">No</div> -->
<!-- 				<div ng-switch-when="0">No</div>				 -->
<!-- 				<div ng-switch-default>Yes</div> -->
				</div>
				</td>
				</td>
				<td>
				<input type="number" data-ng-model="count" min="0" max="{{game.stockBalance}}" />
				</td>
  				<td><input type="button"
					ng-click="addToCart(game.artNr, count, game.stockBalance)" value="AddToCart" /></td>
			</tr>
		</table>
	</div>
	<div>
	<p>
	
	{{selectedItem.artNr}}

	
		<h1>
	{{selectedItem.itemName}}
	</h1>
	<br>
	<img src="GetImage?artNr={{selectedItem.artNr}}" height=200px
			width=160px />
	<br>
	{{selectedItem.description}}
	<br>
	<br>
	<h1>
	{{selectedItem.price + " SEK"}}
	</h1>
	</p>
	</div>
</div>



