<h2>Shopping Cart</h2>
<p>These are your current items in the shopping cart.</p>


<table>

	<tr data-ng-repeat="item in items">

		<th>Artikelnummer</th>
		<td>{{item.artNr}}</td>
		<th>Titel</th>
		<td>{{item.itemName}}</td>
		<th>Pris</th>
		<td>{{item.price}} SEK</td>



		<td><input type="button" ng-click="RemoveFromCart($index)"
			value="Remove from Cart" /></td>





	</tr>


</table>
<br>
<br>

<table>
	<tr>
		<td><input type="button" ng-click="DumpCart($index)"
			value="Dump Cart" /></td>
	</tr>
</table>
<!--
<table>
	<tr>
		<td>Art Number</td>
		<td>Name</td>
		<td>Price</td>
	</tr>
	<tr ng-repeat="game in items | filter:search" class="table_row">
		<td ng-click="viewDescription($index)"><a"#!/item/{{game.artNr}}">
				{{game.artNr}}</a></td>
		<td ng-click="viewDescription($index)"><a"#!/item/{{game.itemName}}">
				{{game.itemName}}</a></td>
		<td ng-click="viewDescription($index)"><a"#!/item/{{game.price}}">
				{{game.price}}</a></td>
		<td><input type="button" ng-click="AddToCart($index)"
			value="addCart" /></td>
	</tr>
</table>
  -->