<h2>Shopping Cart</h2>
<p>These are your current items in the shopping cart.</p>
<br>


<table>
	<tr>
		<td><b>Article number</b></td>
		<td><b>Title</b></td>
		<td><b>Amount</b></td>
		<td><b>Price</b></td>
	</tr>
	<tr data-ng-repeat="item in items| filter:search" class="table_row">

		<td>{{item.artNr}}</td>
		<td>{{item.itemName}}</td>
		<td>{{item.stockBalance}}</td>
		<td>{{item.price}} SEK</td>

		<td>
			<button data-ng-click="removeFromCart(item.artNr, amount)">Remove from Cart</button>
		</td>
		<td>
			<input type="number" name="amount" data-ng-model="amount" value="1" min="0" max="{{item.stockBalance}}"/>
		</td>
	</tr>
</table>

<div class="flex_column">
	<h3>Total cost:</h3>
	{{totalCost}}
	<br>
	<button data-ng-click="dumpCart()">Dump Cart</button>
	<button data-ng-click="checkoutCart()">Check Out</button>
</div>