<h2>Shopping Cart</h2>
<p>{{info}}</p>
<br>

<div class="flex_row">
	<div id="itemListDiv">
		<table>
			<tr data-ng-show="showTableHeaders">
				<th>Art Number</th>
				<th>Title</th>
				<th>Amount</th>
				<th>Price</th>
			</tr>
	
			<tr data-ng-repeat="item in items| filter:search" class="table_row">
		
				<td data-ng-click="showInfo($index)">{{item.artNr}}</td>
				<td data-ng-click="showInfo($index)">{{item.itemName}}</td>
				<td>{{item.stockBalance}}</td>
				<td>{{item.price}} SEK</td>
				<td data-ng-click="gotoCartItemInfo(item.artNr, item,description)"></td>
		
				<td>
					<button data-ng-click="removeFromCart(item.artNr, amount)">Remove from Cart</button>
				</td>
				<td>
					<input type="number" name="amount" data-ng-model="amount" value="1" min="0" max="{{item.stockBalance}}"/>
				</td>
			</tr>
			<tr>
				<td data-ng-show="showTableHeaders"></td>
				<td data-ng-show="showTableHeaders">Shipping Fee</td>
				<td data-ng-show="showTableHeaders"></td>
				<td data-ng-show="showTableHeaders">29 SEK</td>
			</tr>
			<tr></tr>
			<tr>
				<td class="total"></td>
				<td class="total"><h3>Total cost:</h3></td>
				<td class="total"></td>
				<td class="total"><p class="cost">{{totalCost + " "+ "SEK"}}</p></td>
			</tr>
			<tr></tr>
			<tr>
				<td></td>
				<td><button data-ng-click="dumpCart()" class="cart_button">Dump Cart</button></td>
				<td><button data-ng-click="checkoutCart()" class="cart_button">Checkout</button></td>
				<td></td>
			</tr>
		</table>
	</div>
	<div data-ng-hide="hideDescription">
		<p>
		
		{{selectedItem.artNr}}
	
		<h1>
			{{selectedItem.itemName}}
		</h1>
		<br>
		<img src="GetImage?artNr={{selectedItem.artNr}}" height=200px
				width=160px />
		<br>
		{{selectedItem.description}}
		<br>
		<br>
		<h1>
			{{selectedItem.price + " SEK"}}
		</h1>
	</div>
</div>